<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<div th:each="user : ${userForm}">
		<h4>ユーザーID：<span th:text=${user.userId}></span></h4>
		<h4>名前：<span th:text=${user.userName}></span></h4>
		<h4>パスワード：<span th:text=${user.password}></span></h4>
		<h4>誕生日：<span th:text=${user.birthday}></span></h4>
		<h4>性別：<span th:text=${user.sex}></span></h4>
	</div>
	<div th:object="${userForm}">
		<form method="post" action="#" th:action="@{/user/signup}">
			<input type="hidden" name="userName" th:value="*{userName}">
			<input type="hidden" name="password" th:value="*{password}">
			<input type="hidden" name="birthday" th:value="*{birthday}">
			<input type="hidden" name="sex" th:value="*{sex}">
			<input type="submit" value="戻る">
		</form>
		<form method="post" action="#" th:action="@{/user/complete}">
			<input type="hidden" name="userName" th:value="*{userName}">
			<input type="hidden" name="password" th:value="*{password}">
			<input type="hidden" name="birthday" th:value="*{birthday}">
			<input type="hidden" name="sex" th:value="*{sex}">
			<input type="submit" value="Complete">
		</form>
	</div>
</body>
</html>