<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User一覧</title>
</head>
<body>
	<a href="#" th:href="@{/}">Rootページにもどる</a>
	<a href="#" th:href="@{/user/signup}">ユーザー新規登録</a>
	<h2>ユーザー一覧</h2>
	<div th:each="user : ${userList}">
		<p>ユーザーId：<span th:text="${user.userId}"></span></p>
		<div>名前：<a th:href="@{/user/details/{userId}(userId=${user.userId})}"><span th:text="${user.userName}"></span></a></div>
		<p>パスワード：<span th:text="${user.password}"></span></p>
		<p>誕生日：<span th:text="${user.birthday}"></span></p>
		<p>性別：<span th:text="${user.sex}"></span></p>
		<p>生存フラグ：<span th:text="${user.aliveFlag}"></span></p>
		<p>管理フラグ：<span th:text="${user.adminFlag}"></span></p>
		<p>作成日：<span th:text="${user.createdDate}"></span></p>
		<p>更新日：<span th:text="${user.updatedDate}"></span></p>
	</div>
</body>
</html>