<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<a href="#" th:href="@{/}">Rootページにもどる</a>
	<a href="#" th:href="@{/user/signup}">ユーザー新規登録</a>
	<a href="#" th:href="@{/user/list}">ユーザー一覧</a>
	<h2>ユーザー情報</h2>
	<div th:each="user : ${userForm}">
		<h4>ユーザーID：<span th:text=${user.userId}></span></h4>
		<h4>名前：<span th:text=${user.userName}></span></h4>
		<h4>パスワード：<span th:text=${user.password}></span></h4>
		<h4>誕生日：<span th:text=${user.birthday}></span></h4>
		<h4>性別：<span th:text=${user.sex}></span></h4>
	</div>
	<form method="post" action="#" th:action="@{/user/update/{userId}(userId=${userForm.userId})}" th:object="${userForm}">
		<label for="userName">お名前:</label>
		<input id="userName" name="userName" type="text" th:value="*{userName}"><br>
		<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>

		<label for="password">パスワード:</label>
		<input id="password" name="password" type="text" th:value="*{password}"><br>
		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

		<label>誕生日：</label>
		<input type="datetime-local" name="birthday" th:value="*{birthday}" /><br>
		<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>

		<label>性別（選択してください）：</label>
		<select name="sex">
			<option value="1" th:selected="*{sex == 1}">男性</option>
			<option value="2" th:selected="*{sex == 2}">女性</option>
		</select>

		<input type="submit" value="更新する">
	</form>
<!--
	<div th:each="user : ${userForm}">
		<h4>ユーザーID：<span th:text=${user.userId}></span></h4>
		<h4>名前：<span th:text=${user.userName}></span></h4>
		<h4>パスワード：<span th:text=${user.password}></span></h4>
		<h4>誕生日：<span th:text=${user.birthday}></span></h4>
		<h4>性別：<span th:text=${user.sex}></span></h4>
		<p><a type="button" th:href="@{/user/{userId}(userId=${userForm.userId})}">編集</a></p>
	</div>
-->
</body>
</html>