<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<a href="#" th:href="@{/}">Rootページにもどる</a>
	<h1>Signupページ</h1>
	<form method="post" action="#" th:action="@{/user/confirm}" th:object="${userForm}">
		<label for="userName">お名前:</label>
		<input id="userName" name="userName" type="text" th:value="*{userName}"><br>
		<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>

		<label for="password">パスワード:</label>
		<input id="password" name="password" type="text" th:value="*{password}"><br>
		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

		<label>誕生日：</label>
		<input type="datetime-local" name="birthday" th:value="*{birthday}" /><br>
		<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>

		<label>性別（選択してください）：</label>
		<select name="sex">
			<option value="1" th:selected="*{sex == 1}">男性</option>
			<option value="2" th:selected="*{sex == 2}">女性</option>
		</select>

		<input type="submit" value="確認ページへ">

	</form>
<!--

	<form method="POST" th:action="${taskForm.isNewTask}? @{/task/insert} : @{/task/update}" th:object="${taskForm}">
		<label>タスクタイプ（選択してください）：</label>
		<select name="typeId">
		<option value="1" th:selected="*{typeId == 1}">緊急</option>
		<option value="2" th:selected="*{typeId == 2}">重要</option>
		<option value="3" th:selected="*{typeId == 3}">できれば</option>
		</select><br>
		<div th:if="${#fields.hasErrors('typeId')}" th:errors="*{typeId}"></div>
		<label>やること：</label>
		<input type="text" name="title" th:value="*{title}" /><br>
		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
		<label>詳細：</label>
		<input type="text" name="detail" th:value="*{detail}" /><br>
		<div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></div>

		<input  th:if="${taskId}" type="hidden" name="taskId" th:value="${taskId}">
		<input type="submit" value="送信">
	</form>

-->
</body>
</html>