<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User編集</title>
</head>
<body>
	<a href="#" th:href="@{/}">Rootページにもどる</a>
	<a href="#" th:href="@{/user/signup}">ユーザー新規登録</a>
	<a href="#" th:href="@{/user/list}">ユーザー一覧</a>
</body>
</html>