<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<h1>はじめの1歩</h1>
	<a href="#" th:href="@{/user/signup}">ユーザー新規登録</a>
	<a href="#" th:href="@{/user/list}">ユーザー一覧</a>
</body>
</html>